img{
    height: 280px;
    width: 500px;
    margin: 10px;
}

.project-wrapper{
    width: 1024px;
    margin: auto;
}

.project-wrapper a{
    color: #7A5C61;
    text-decoration: none;
}

.icon{
    font-size: 48px;
}

.project-header{
    width: 500px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.project-title{
    font-size: 36px;
}

.icon{
    margin-left: 15px;
}

.project-info{
    width: 1000px;
}

.project-info p{
    margin-top: 10px;
}

.award{
    font-weight: bold;
}